{{ $headless := .Site.GetPage "/sections" }}
{{ $info := $headless.Resources.GetMatch (printf "*%s*" "info") }}
{{ $fts := sort ( $headless.Resources.Match "infos/*.md" ) "Params.weight" }}

<div id="info" class="w-full flex flex-col text-center items-center pt-12">
    <div class="w-full xl:w-4/5 flex flex-col pb-12 sm:flex-row flex-wrap px-4 xl:px:0">
        {{ range $fts }}
            <div class="justify-center sm:w-1/2 flex flex-row px-4 sm:px-8 py-10 sm:py-20">
                <div>
                    <h3 class="text-center font-lora font-caps text-orange-400 font-bold text-2xl mb-2">{{ .Title }}</h3>
                    <div class="font-raleway tracking-wide font-light text-orange-400 text-lg">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        {{ end }}
        <div class="font-raleway tracking-wide font-light text-orange-400 text-lg">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2644.544617980432!2d-123.4248241!3d48.4844478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f728a97ca4f83%3A0x3546d073155c6f92!2s1460%20Charlton%20Rd%2C%20Victoria%2C%20BC%20V9E%202C9!5e0!3m2!1sen!2sca!4v1685860066064!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="font-raleway tracking-wide font-light text-orange-400 text-lg">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/fq2CdnfijhQ?start=9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="pt-24 pb-6">
        <img src="/img/lake_calm.jpeg" alt="Panorama of lake">
    </div>
</div>
