<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
  filter: grayscale(60%);
}
.bgimg {background-image: url("/img/IMG_7784.jpg")}
.bgimg2 {background-image: url("/img/herbal2.jpg")}
.w3-pale-red, .w3-hover-pale-red:hover {
    color: #000!important;
    background-color: #f0ca00!important;
}
</style>
</head>
<body>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">Livia & Agus</h1>
    <h2>We getting married</h2>
    <h2><b>07/08/2023</b></h2>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="#home" style="width:33%" class="w3-bar-item w3-button">Home</a>
    <a href="#honeymoon" style="width:33%" class="w3-bar-item w3-button">Honeymoon Fund</a>
    <a href="#wedding" style="width:33%" class="w3-bar-item w3-button">Wedding</a>
    <!-- <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black">RSVP</a> -->
  </div>
</div>

<!-- Honeymoon Fund -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min" id="honeymoon">
  <div class="w3-content">
    <h1 class="w3-center w3-text-grey"><b>Honeymoon Fund</b></h1>
    <img class="w3-round w3-grayscale-min" src="/img/IMG_5095.jpg" style="width:80%;margin:32px">
    <p>
        <i>We know it isn't tradicional, it's not the way it's done... but instead of pots and pans, we'd like a little fun! So if you'd like to give a gift to help us celebrate, some help towards our honeymoon, we would appreciate!
        The choice is really up to you and we would like to say, that the best gift we could receive is you here on our special day!

    </i>
    <p>
        <ul>
            <li>Pix and Interac: livinhasaraujo@gmail.com</li>
            <li>Interac: bachmannagus@gmail.com</li>
        </ul>
        Thank you
    </p>
    </p><br>
    <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p>
  </div>
</div>

<!-- Background photo -->
<div class="w3-display-container bgimg2">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">You Are Invited</h1><br>
    <h2>Of course..</h2>
  </div>
</div>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center" id="wedding">
  <div class="w3-content">
    <h1 class="w3-text-grey"><b>THE WEDDING</b></h1>
    <iframe class="w3-round-large" width="560" height="415" src="https://www.youtube.com/embed/NqdPj2viEIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="width:100%;margin:64px 0"></iframe>
    <div class="w3-row">
      <div class="w3-half">
        <h2>When</h2>
        <p>Wedding Ceremony - 1:00pm</p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>Saanich, Vancouver Island, BC</p>
        <iframe class="w3-round-large" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2644.544617980432!2d-123.4248241!3d48.4844478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f728a97ca4f83%3A0x3546d073155c6f92!2s1460%20Charlton%20Rd%2C%20Victoria%2C%20BC%20V9E%202C9!5e0!3m2!1sen!2sca!4v1685860066064!5m2!1sen!2sca" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>

<!-- RSVP section -->
<!-- <div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
  <h1>HOPE YOU CAN MAKE IT!</h1>
  <p class="w3-large">Kindly Respond By January, 2017</p>
  <p class="w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
  </p>
</div> -->

<!-- RSVP modal -->
<!-- <div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h1 class="w3-wide">CAN YOU COME?</h1>
      <p>We really hope you can make it.</p>
      <form>
        <input class="w3-input w3-border" type="text" placeholder="Name(s)" name="name">
      </form>
      <p><i>Sincerely, Livia & Agus</i></p>
      <div class="w3-row">
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Going</button>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't come</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>&copy; Livia & Agus | {{ now.Format "2006" }}</p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>

</body>
</html>